{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}

{% block styles %}
    <style>
        p {
            font-size: 18px;
        }
        .txt-danger{
            font-size: 15px;
        }
        .show-hide{
            margin-top: 12px !important;
        }
    </style>
{% endblock styles %}



{% block breadcrumb %}
{% include "components/page_title.html" with title="حساب کاربری" home_url="dashboard-01.html" level1="Letters"  level2='Add' %}
{% endblock breadcrumb %}

{% block content %}
<div class='container'>
    <div class=" card height-equal ">
        <div class="card-body ">
            <form method="POST" class=' row px-3'  enctype="multipart/form-data" >
                {% csrf_token %}
                {% for field in profile_form %} 
                    <div class=" py-2 px-3 m-0 col-{% if field.name == 'address' or field.name == 'avatar' %}12{% else %}6{% endif %}">
                        <div class=' pt-2 pb-1'>
                                {{field.label}}
                            </div>
                            {{ field|add_class:"form-control col-4" }}
                        {% if field.errors %}
                            <p class="txt-danger mb-0">{{ field.errors|striptags}}</p> 
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-12 pt-3 text-center">
                    <button type="submit" class="btn btn-primary px-5" name="update_profile">تایید</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="card height-equal mt-3">
        <div class="card-body ">
            <form method="POST" class=' row px-3'  enctype="multipart/form-data" >
                {% csrf_token %}
                {% for field in password_form %} 
                    <div class=" py-2 px-3 m-0 col-6">
                        <div class=' pt-2 pb-1'>
                            {{field.label}}
                        </div>
                        <div dir='ltr'>
                            {{ field|add_class:"form-control col-12" }}
                            <div class="show-hide mx-2">
                                <span onclick="togglePasswordVisibility('id_{{field.name}}')"></span>
                            </div>
                        </div>
                        {% if field.errors %}
                            <p class="txt-danger mb-0">{{ field.errors|striptags}}</p> 
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-12 pt-3 text-center">
                    <button type="submit" class="btn btn-primary px-5" name="change_password">تغییر رمز عبور</button>
                </div>
            </form>
        </div>
    </div>            
</div>
<br>

{% endblock content %}


{% block scripts %}
    
    <script>
        function togglePasswordVisibility(passwordInputId) {
            var passwordInput = document.getElementById(passwordInputId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
{% endblock scripts %}

