{% load static %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir='rtl'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="BLACKBOX" />
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'assets/favicon/apple-touch-icon.png' %}">

    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'assets/favicon/favicon-32x32.png' %}">

    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'assets/favicon/favicon-16x16.png' %}">

    <link rel="manifest"
          href="{% static 'assets/favicon/site.webmanifest' %}">

    <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}">
    <!-- Google font-->
    {% comment %} <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
      rel="stylesheet"
    /> {% endcomment %}
    <!-- Font Awesome-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/fontawesome.css'%}"
    />
    <!-- ico-font-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/icofont.css'%}"
    />
    <!-- Themify icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/themify.css'%}"
    />
    <!-- Flag icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/flag-icon.css'%}"
    />
    <!-- Feather icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/feather-icon.css'%}"
    />
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendors/bootstrap.css'%}"
    />
    <!-- App css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/style.css'%}"
    />
    <link
      id="color"
      rel="stylesheet"
      href="{% static 'assets/css/color-1.css'%}"
      media="screen"
    />
    <!-- Responsive css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/responsive.css'%}"
    />
    <script defer src="{% static 'assets/css/color-1.js '%}"></script>
    <script defer src="{% static 'assets/css/color-2.js '%}"></script>
    <script defer src="{% static 'assets/css/color-3.js '%}"></script>
    <script defer src="{% static 'assets/css/color-4.js '%}"></script>
    <script defer src="{% static 'assets/css/color-5.js '%}"></script>
    <script defer src="{% static 'assets/css/color-6.js '%}"></script>
    <script defer src="{% static 'assets/css/responsive.js '%}"></script>
    <script defer src="{% static 'assets/css/style.js '%}"></script>
    <link href="{% static 'assets/css/color-1.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/color-2.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/color-3.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/color-4.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/color-5.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/color-6.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/responsive.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
       <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/font/stylesheet.css' %}"
    />
    <style>
      .title-img{
        width: 350px;
      }
            body{
        font-family: K24;
      }
            p{
        font-size: 18px;
      }
      .btn{
        font-size: 18px;
      }
      span{
        font-size: 18px !important;
      }
      div{
        font-size: 16px !important;
      }
      .login-main{
        width: 850px !important;
      }
      @media (max-width: 1000px) {
        .login-main{
          width: 100% !important;      
        }
      }
      .form-label{
        font-size: 14px !important;
      }
      .txt-danger{
        font-size: 14px;
      }
      .text-color{
        background-color: #f3f3ff !important;
      }
    </style>
    <title>
      MÂD Mail Service
    </title>
  </head>
  <body>
    <!-- login page start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="login-card login-dark">
            <div>
              <div>
                <a class="logo" href="index.html"
                  ><img
                    class="img-fluid for-light title-img"
                    src="{% static 'assets/images/logo/logo.png'%}"
                    alt="looginpage" /><img
                    class="img-fluid for-dark"
                    src="{% static 'assets/images/logo/logo_dark.png'%}"
                    alt="looginpage"
                /></a>
              </div>
              <div class="login-main">
                
                <form class=" row theme-form" method="POST">
                  
                  {% csrf_token %}
                  {{form.password.errors}}
                  <h4>ایجاد حساب کاربری</h4>
                  <p>مشخصات خود را برای ایجاد حساب وارد کنید.</p>
                  <br>
                  {% comment %} <p>ایمیل و پسورد خود را برای ورود وارد کنید.</p> {% endcomment %}
                  {% for field in form %}
                       {% if field.name == 'address' %}
                      <div class="py-2 px-3 m-0col-sm-12">
                          <label class='form-label pt-2 pb-0'>{{ field.label }}
                                {% if field.field.required %}
                                    <span class='txt-danger px-1'>*</span>
                                {% endif %}
                          </label>
                          <textarea name="address" cols="40" rows="7" class="form-control text-color" required="" id="id_address"></textarea>
                          {% if field.errors %}
                              <p class="txt-danger">{{ field.errors|striptags }}</p> 
                          {% endif %}
                      </div>
                      {% elif   field.name == 'password1' %}
                      <div class="form-group py-2 px-3 m-0  col-sm-6">
                        <label class="col-form-label">رمز عبور <span class='txt-danger px-1'>*</span></label>
                        <div class="form-input position-relative" dir="ltr">
                            <input class="form-control" type="password" name="password1" required id="passwordField1" />
                            <div class="show-hide">
                                <span onclick="togglePasswordVisibility('passwordField1', 'eyeIcon1')">
                                    <i id='eyeIcon1' class="fa-solid fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        {% if form.password1.errors %}
                          <p class="txt-danger mb-0">{{ form.password1.errors|striptags }}</p>
                        {% endif %}
                      </div>
                      {% elif   field.name == 'password2' %}
                        <div class="form-group py-2 px-3 m-0  col-sm-6">
                          <label class="col-form-label">تکرار رمز عبور<span class='txt-danger px-1'>*</span></label>
                          <div class="form-input position-relative" dir="ltr">
                              <input class="form-control" type="password" name="password2" required id="passwordField2" />
                              <div class="show-hide">
                                  <span onclick="togglePasswordVisibility('passwordField2', 'eyeIcon2')">
                                      <i id='eyeIcon2' class="fa-solid fa-eye"></i>
                                  </span>
                              </div>
                          </div>
                          {% if form.password1.errors %}
                            <p class="txt-danger mb-0">{{ form.password2.errors|striptags }}</p>
                          {% endif %}
                        </div>
                      {% else %}
                        <div class="py-2 px-3 m-0 col-sm-6">
                          <label class='form-label pt-2 pb-0'>{{ field.label }}
                                {% if field.field.required %}
                                    <span class='txt-danger px-1'>*</span>
                                {% endif %}
                          </label>
                          <div {% if field.name == 'email' %}dir='ltr'{% endif %}>
                            {{ field|add_class:'form-control'}}
                          </div>
                          {% if field.errors %}
                              <p class="txt-danger">{{ field.errors|striptags }}</p> 
                          {% endif %}
                      </div>
                      {% endif %}
                  {% endfor %}
                    <div class="text-end">
                      <button
                        class="btn btn-primary btn-block w-100 mt-3"
                        type="submit"
                      >
                        ثبت‌نام
                      </button>
                    </div>
                    <div class="mt-3">
                    <p class='mb-0'>
                      حساب کاربری دارید؟
                      <a href="{% url "login" %}" class="txt-primary fw-bold">
                        ورود.
                      </a>
                
                    </p>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function togglePasswordVisibility(passwordInputId, eyeIconId) {
            var passwordInput = document.getElementById(passwordInputId);
            var eyeIcon = document.getElementById(eyeIconId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        }


      </script>
      <!-- latest jquery-->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <!-- Bootstrap js-->
      <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
      <!-- feather icon js-->
      <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
      <script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
      <!-- scrollbar js--><!-- Sidebar jquery-->
      <script src="{% static 'assets/js/config.js' %}"></script>
      <!-- Plugins JS start--><!-- Plugins JS Ends--><!-- Theme js-->
      <script src="{% static 'assets/js/script.js' %}"></script>
      <script src="{% static 'assets/js/script1.js' %}"></script>
    </div>
  </body>
</html>
