{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
{% load filters %}

{% block styles %}
    <style>
        .btn-pill{
            padding: 2px 8px 1px 8px !important;
            font-size: 13px !important;     
        }
    </style>
{% endblock %}


{% block breadcrumb %}
{% include "components/page_title.html" with title="لیست سفارشات" %}
{% endblock breadcrumb %}

{% block content %}

    <div class="container candidate-wrapper ">
        <div class="card">
          <div class="card-body candidates-box px-0">
            <div class="table-responsive custom-scrollbar">
              <table class="table text-center" id="candidates-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="hide"></th>
                        <th class="text-center">عنوان</th>
                        <th class="text-center">تاریخ</th>
                        <th class="text-center">وضعیت</th>
                        <th class="text-center">قیمت</th>
                        <th class="text-center">مشاهده سفارش</th>
                        <th class="text-center">فاکتور</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td></td>                         
                            <td id="no-persian" class="hide">-{{ item.created_at|date:"Ymd"  }}</td>
                            <td class="align-middle">
                                {{item.name}}                             
                                {% comment %} {% if item.description %}
                                <button class="example-popover btn btn-pill btn-outline-info btn-xs mb-0 me-0" type="button" data-bs-trigger="hover" data-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="توضیحات" data-offset="-20px -20px" data-bs-content="{{item.description}}"><i class="fa-solid fa-info"></i></button>
                                {% endif %} {% endcomment %}
                            </td>
                            <td class="align-middle">{{item.created_at|locale_date}}</td>
                            <td class="align-middle">
                                <span class="badge"
                                    style="background-color: {{ item.state_colors.bg }}; color: {{ item.state_colors.text}};">
                                    {{item.get_state_display}}
                                </span>
                            </td>
                            <td class="align-middle">
                                {% if item.cost %}{{item.cost|format_price}}{% else %} - {% endif %}
                            </td>
                            <td class="align-middle "><button class= "btn btn-icon mx-auto btn-primary btn-icon" onclick='set_id("{{item.id}}" , "{{item.title}}")'  data-bs-toggle="modal" data-bs-target="#delete_handler"><i class="fa fa-eye"></i></button></td>
                            <td class="align-middle text-center">
                                <button type="button"
                                        class="btn btn-icon mx-auto btn-primary"
                                        onclick="window.location.href='{% url 'invoice_detail' item.id %}'">
                                    <i class="fa fa-file-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    {% url 'project_transaction_delete' 0 as delete_url %}
    {% include "components/delete_modal.html" with model_fa="تراکنش" model_en="project_transaction" url=delete_url %}

{%endblock%}
