{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
{% load filters %}

{% block styles %}
    <style>
        .dropdown-item{
            opacity: 1 !important;
            text-align: right !important;
        }
        .dropdown-toggle{
            width: 160px;
        }
    </style>
{% endblock %}


{% block breadcrumb %}
{% include "components/page_title.html" with title="لیست سفارشات" %}
{% endblock breadcrumb %}

{% block content %}
    <div class="container candidate-wrapper pt-3">
        <div class="card">
          <div class="card-body candidates-box px-0">
            <div class="table-responsive custom-scrollbar">
              <table class="table text-center" id="candidates-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class='hide'></th>
                        <th class="text-center">سفارش دهنده</th>
                        <th class="text-center">تاریخ</th>
                        <th class="text-center">وضعیت</th>
                        <th class="text-center">قیمت</th>
                        <th class="text-center">مشاهده سفارش</th>
                        <th class="text-center">فاکتور</th>
                        <th class="text-center">فاکتور</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td></td>                         
                            <td id='no-persian' class='hide'>-{{ item.created_at|date:'Ymd'  }}</td>
                            <td class="align-middle">
                                {{item.user}}                             
                                {% comment %} {% if item.description %}
                                <button class="example-popover btn btn-pill btn-outline-info btn-xs mb-0 me-0" type="button" data-bs-trigger="hover" data-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="توضیحات" data-offset="-20px -20px" data-bs-content="{{item.description}}"><i class="fa-solid fa-info"></i></button>
                                {% endif %} {% endcomment %}
                            </td>
                            <td class="align-middle">{{item.created_at|locale_date}}</td>
                            <td class="align-middle">
                                <span class="badge"
                                    style="background-color: {{ item.state_colors.bg }}; color: {{ item.state_colors.text}};">
                                    {{item.get_state_display}}
                                </span>
                            </td>
                            <td class="align-middle">
                                {% if item.price %}{{item.price|format_price}}{% else %} - {% endif %}
                            </td>
                            <td class="align-middle "><button class= "btn btn-icon mx-auto btn-primary btn-icon"  onclick="location.href='{% url "board_detail" item.id %}'"><i class="fa fa-eye"></i></button></td>
                            
                            <td class="align-middle ">
                                {% if item.state == 'preparing' or item.state == 'shipping' or item.state == 'completed' %}
                                    <button class= "btn btn-icon mx-auto btn-primary btn-icon" onclick="location.href='{% url "invoice_detail" item.id %}'">فاکتور</button>
                                {% elif item.state == 'pending_receipt' %}
                                    <button class= "btn mx-auto btn-primary" 
                                        data-order-id="{{ item.id }}"
                                        data-image="{{ item.payment_receipt.url }}"
                                        data-url="{% url 'upload_receipt' item.id %}" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#uploadReceiptModal">
                                            رسید پرداخت
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    تغییر وضعیت
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'change_board_state' item.id 'pending' %}">در حال بررسی</a>
                                    <a class="dropdown-item" href="{% url 'change_board_state' item.id 'preparing' %}">در پروسه تولید</a>
                                    <a class="dropdown-item" href="{% url 'change_board_state' item.id 'shipping' %}">در حال ارسال</a>
                                    <a class="dropdown-item" href="{% url 'change_board_state' item.id 'completed' %}">پایان‌ یافته</a>
                                  </div>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

<div class="modal fade" id="uploadReceiptModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <form method="post" id="receiptForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title"> رسید پرداخت</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
        </div>
        <div class="modal-body text-center">
            <img id="orderImage"
                class="img-fluid rounded mb-3 d-none"
                style="max-height:250px;">
            
        </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}
{% block scripts %}
<script>
    const modal = document.getElementById('uploadReceiptModal');
const orderImage = document.getElementById('orderImage');

modal.addEventListener('show.bs.modal', function(event) {

    const button = event.relatedTarget;

    projectURL = button.getAttribute('data-url');

    const imageURL = button.getAttribute('data-image');

    if (imageURL) {

        orderImage.src = imageURL;
        orderImage.classList.remove('d-none');

    } else {

        orderImage.src = '';
        orderImage.classList.add('d-none');
    }

});
</script>
{% endblock scripts %}

