{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styles %}
    <style>
        .btn-pill{
            padding: 2px 6px 1px 6px !important;
            font-size: 10px !important;     
        }
        .card-options{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.item-card{
    cursor:pointer;
}

.item-card input{
    display:none;   /* مخفی کردن رادیوباتن */
}
.name{
    padding-right: 0rem !important;
    padding-left: 23px !important;
}
.card-content{
    align-items:center;
    justify-content:center;
    font-weight:500;
    font-size:14px;
    display: inline-flex;
    gap: 8px;
    padding: 8px 14px;
    min-width: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

/* hover */
.item-card:hover .card-content{
    border-color:#6366f1;
    background:#f8f9ff;
}

.item-card input:checked + .card-content{
    border-color:#6366f1;
    {% comment %} font-weight: bold; {% endcomment %}
    {% comment %} background:#eef2ff; {% endcomment %}
    {% comment %} color:#4338ca; {% endcomment %}
    {% comment %} box-shadow:0 0 0 2px rgba(99,102,241,0.15); {% endcomment %}
}
    </style>
{% endblock %}

{% block breadcrumb %}
{% include "components/page_title.html" with title="ثبت سفارش" %}
{% endblock breadcrumb %}

{% block content %}
    <div class=" container">
        <div class="card height-equal" style="min-height: 1063.2px">
        {{form.errors}}
            <div class="card-header">
                <h5>PCB</h5>
            </div>
            <form method="POST" class="row px-3  enctype='multipart/form-data'" >
                {% csrf_token %}
                <div class="card-body custom-input">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3 row align-items-center" >
                                <label class="col-sm-3">
                                    نوع برد
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 ">
                                    <div class="pcb-options">

                                        <input type="radio" name="base_material" id="fr4" value="fr4"
                                            checked>
                                        <label for="fr4" class="pcb-card">
                                            <img src="{% static 'assets/images/pcb/fr4.png'%}" 
                                                alt="FR4 PCB">
                                            <span>FR‑4</span>
                                        </label>

                                        <input type="radio" name="base_material" id="flex" value="flex"
                                            value="flex">
                                        <label for="flex" class="pcb-card">
                                            <img src="{% static 'assets/images/pcb/flex.png'%}" 
                                                alt="Flex PCB">
                                            <span>Flex</span>
                                        </label>

                                        <input type="radio" name="base_material" id="aluminum" value="aluminum">
                                        <label for="aluminum" class="pcb-card">

                                            <img src="{% static 'assets/images/pcb/aluminum.png'%}" 
                                                alt="Aluminum PCB">
                                            <span>Aluminum</span>
                                        </label>

                                        <input type="radio" name="base_material"
                                            id="copper-core" value="copper">
                                        <label for="copper-core" class="pcb-card">
                                            <img src="{% static 'assets/images/pcb/copper.png'%}"
                                                alt="Copper Core PCB">
                                            <span>Copper Core</span>
                                        </label>

                                        <input type="radio" name="base_material" id="rogers" value="rogers">
                                        <label for="rogers" class="pcb-card">
                                            <img src="{% static 'assets/images/pcb/rogers.png'%}"
                                                alt="Rogers PCB">
                                            <span>Rogers</span>
                                        </label>

                                        <input type="radio" name="base_material" id="PTFE" value="ptfe">
                                        <label for="PTFE" class="pcb-card">
                                            <img src="{% static 'assets/images/pcb/ptfe.png'%}"
                                                alt="PTFE Teflon PCB">
                                            <span>PTFE Teflon</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="substrate-wrapper" class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    نوع بستر
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.substrate_type.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.substrate_type.name }}"
                                                    value="{{ value }}"
                                                    {% if form.substrate_type.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                                
                            
                            <div class="mb-3 row">
                                <label class="col-sm-3">تعداد لایه‌ها</label>
                                <div class="col-sm-9">
                                    <div class="layers-group">
                                        <div class="layer-option" data-layer="1">
                                            <input type="radio" name="layers" id="layer-1"
                                                value="1">
                                            <label for="layer-1" class="layer-card">1</label>
                                        </div>

                                        <div class="layer-option" data-layer="2">
                                            <input type="radio" name="layers" id="layer-2"
                                                value="2">
                                            <label for="layer-2" class="layer-card">2</label>
                                        </div>

                                        <div class="layer-option" data-layer="4">
                                            <input type="radio" name="layers" id="layer-4"
                                                value="4">
                                            <label for="layer-4" class="layer-card">4</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    کاربرد
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.product_type.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.product_type.name }}"
                                                    value="{{ value }}"
                                                    {% if form.product_type.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">ابعاد برد</label>

                                <div
                                    class="col-sm-9 d-flex align-items-center gap-2 dimension-group">

                                    <input
                                        class="form-control form-control-sm digits dimension-input"
                                        type="number" placeholder="100" name="dimension_x">

                                    <span class="dimension-multiply">*</span>

                                    <input
                                        class="form-control form-control-sm digits dimension-input"
                                        type="number" placeholder="100" name="dimension_y">

                                    <select class="form-select form-select-sm dimension-unit" name="dimension_unit">
                                        <option value="mm" checked>میلی‌متر</option>
                                        <option value="inch">اینچ</option>
                                    </select>

                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3">تعداد برد</label>
                                <div class="col-sm-9">
                                    {{form.qty|add_class:'form-select form-select-sm dimension-unit'}}
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">پنل شده</label>
                                <label class="switch mx-2"><input type="checkbox"  id="change" name="panel" ><span class="switch-state"></span></label>
                            </div>
                            <div id="panel_grid" class="mb-3 row align-items-center hidden">
                                <label  class="col-sm-3">چیدمان در پنل</label>
                                <div
                                    class="col-sm-9 d-flex align-items-center gap-2 dimension-group">
                                    <input
                                        class="form-control form-control-sm digits dimension-input"
                                        type="number" placeholder="2" name="grid_x">
                                    <span class="dimension-multiply">*</span>
                                    <input
                                        class="form-control form-control-sm digits dimension-input"
                                        type="number" placeholder="2" name="grid_y">
                                </div>
                            </div>

                            
                            
                            <div class="card-header pt-3">
                                <h5>مشخصات برد</h5>
                            </div>
                            <div class="my-3 row align-items-center">
                                <label class="col-sm-3">
                                    ضخامت
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.PCB_thickness.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.PCB_thickness.name }}"
                                                    value="{{ value }}"
                                                    {% if form.PCB_thickness.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                                    
                            <!-- ===== PCB COLOR ===== -->
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">رنگ</label>
                                <div class="col-sm-9">
                                    <div class="pcbcolor-options">
                                        <div id="id-green">
                                            <input type="radio" name="PCB_color" id="color-green"
                                                value="green" checked>
                                            <label for="color-green" class="pcbcolor-card" id="id-green">
                                                <span class="pcbcolor-dot green"></span>
                                                <span class="pcbcolor-name">سبز</span>
                                            </label>
                                        </div>
                                        <div  id="id-purple">
                                            <input type="radio" name="PCB_color" id="color-purple"
                                                value="purple">
                                            <label for="color-purple" class="pcbcolor-card">
                                                <span class="pcbcolor-dot purple"></span>
                                                <span class="pcbcolor-name">بنفش</span>
                                            </label>
                                        </div>
                                        <div id="id-red">
                                            <input type="radio" name="PCB_color" id="color-red" 
                                                value="red">
                                            <label for="color-red" class="pcbcolor-card">
                                                <span class="pcbcolor-dot red"></span>
                                                <span class="pcbcolor-name">قرمز</span>
                                            </label>
                                        </div>

                                        <input type="radio" name="PCB_color" id="color-yellow"
                                            value="yellow">
                                        <label for="color-yellow" class="pcbcolor-card">
                                            <span class="pcbcolor-dot yellow"></span>
                                            <span class="pcbcolor-name">زرد</span>
                                        </label>
                                        <div id="id-blue">
                                            <input type="radio" name="PCB_color" id="color-blue" 
                                                value="blue">
                                            <label for="color-blue" class="pcbcolor-card" >
                                                <span class="pcbcolor-dot blue"></span>
                                                <span class="pcbcolor-name">آبی</span>
                                            </label>
                                        </div>

                                        <input type="radio" name="PCB_color" id="color-white"
                                            value="white">
                                        <label for="color-white" class="pcbcolor-card">
                                            <span class="pcbcolor-dot white"></span>
                                            <span class="pcbcolor-name">سفید</span>
                                        </label>

                                        <input type="radio" name="PCB_color" id="color-black"
                                            value="black">
                                        <label for="color-black" class="pcbcolor-card">
                                            <span class="pcbcolor-dot black"></span>
                                            <span class="pcbcolor-name">مشکی</span>
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <!-- ===== SILKSCREEN ===== -->
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">رنگ چاپ</label>
                                <div class="col-sm-9">
                                    <div class="silkscreen-options-new">

                                        <input type="radio" name="silkscreen" id="silk-white"
                                            value="white" checked>
                                        <label for="silk-white" class="silk-card-new">
                                            <span class="silk-dot-new white"></span>
                                            <span class="silk-name-new">سفید</span>
                                        </label>

                                        <input type="radio" name="silkscreen" id="silk-black"
                                            value="black">
                                        <label for="silk-black" class="silk-card-new">
                                            <span class="silk-dot-new black"></span>
                                            <span class="silk-name-new">مشکی</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    پوشش نهایی
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.surface_finish.field.choices %}
                                        {% if value %}
                                            <label class="item-card" id="id-{{value}}">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.surface_finish.name }}"
                                                    value="{{ value }}"
                                                    id="in-{{value}}"
                                                    {% if form.surface_finish.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content" >
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="gold_thickness" class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    ضخامت طلا
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.gold_thickness.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.gold_thickness.name }}"
                                                    value="{{ value }}"
                                                    {% if form.gold_thickness.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-header pt-3">
                                <h5>جزئیات فنی</h5>
                            </div>
                            <div class="my-3 row align-items-center">
                                <label class="col-sm-3">
                                    ضخامت مس
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.outer_copper_weight.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.outer_copper_weight.name }}"
                                                    value="{{ value }}"
                                                    {% if form.outer_copper_weight.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    پوشش ویا
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.via_covering.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.via_covering.name }}"
                                                    value="{{ value }}"
                                                    {% if form.via_covering.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% comment %} <div class="card-header">
                                <h5>جزئیات فنی</h5>
                            </div> {% endcomment %}      
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    Min via
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.min_via.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.min_via.name }}"
                                                    value="{{ value }}"
                                                    {% if form.min_via.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    Board Outline Tolerance
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.board_outline_tolerance.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.board_outline_tolerance.name }}"
                                                    value="{{ value }}"
                                                    {% if form.board_outline_tolerance.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-3">
                                    تست الکتریکال
                                    <button
                                        class="example-popover btn btn-pill  btn-outline-info btn-xs mb-0 mx-1"
                                        type="button" data-bs-trigger="hover"
                                        data-container="body" data-bs-toggle="popover"
                                        data-bs-placement="bottom" title="توضیحات"
                                        data-offset="-20px -20px" data-bs-content="تست"><i
                                            class="fa-solid fa-info"></i></button>
                                </label>
                                <div class="col-sm-9 card-options">
                                    {% for value, label in form.electrical_test.field.choices %}
                                        {% if value %}
                                            <label class="item-card">
                                                <input 
                                                    type="radio"
                                                    name="{{ form.electrical_test.name }}"
                                                    value="{{ value }}"
                                                    {% if form.electrical_test.value == value %}checked{% endif %}
                                                >
                                                <span class="card-content">
                                                    {{ label }}
                                                </span>
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                            </div>
                             
                            <div class="card-header pt-3">
                                <h5>اطلاعات تکمیلی</h5>
                            </div>
                            <div class="my-3 row">
                                <label class="col-sm-3"> نام برد</label>
                                <div class="col-sm-9">
                                    {{form.name|add_class:'form-control'}}
                                </div>
                            </div>
                            <div class="my-3 row">
                                <label class="col-sm-3">توضیحات</label>
                                <div class="col-sm-9">
                                    {{form.description|add_class:'form-control'}}
                                </div>
                            </div>
                           
                            <!-- ===== JavaScript ===== -->
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const pcbRadios = document.querySelectorAll('input[name="pcb_color"]');
                                    const silkWhite = document.getElementById('silk-white');
                                    const silkBlack = document.getElementById('silk-black');

                                    pcbRadios.forEach(radio => {
                                        radio.addEventListener('change', () => {
                                            const color = radio.value;
                                            if (color === 'black') setSilkscreen('white');
                                            else if (color === 'white') setSilkscreen('black');
                                            else setSilkscreen('white');
                                        });
                                    });

                                    function setSilkscreen(color) {
                                        if (color === 'white') {
                                            silkWhite.checked = true;
                                            silkWhite.nextElementSibling.classList.add('active');
                                            silkBlack.nextElementSibling.classList.remove('active');
                                        } else if (color === 'black') {
                                            silkBlack.checked = true;
                                            silkBlack.nextElementSibling.classList.add('active');
                                            silkWhite.nextElementSibling.classList.remove('active');
                                        }
                                    }
                                });
                            </script>                           
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary me-3" type="submit">Submit</button><input
                            class="btn btn-light" type="reset" value="Cancel" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
