{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
{% include "components/page_title.html" with title="تماس با ما" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="container  mb-5 pb-3">
    <div class="">
      <div class="container-fluid contact-section">
        <div class="row">
          <!-- ستون اول -->
          <div class="col-lg-6 col-md-6">
            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="contact-content">
                <h5>آدرس</h5>
                <p>
                  تبریز - بلوار 29 بهمن - دانشگاه تبریز
                </p>
              </div>
            </div>

            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-phone"></i>
              </div>

              <div class="contact-content">
                <h5>تلفن</h5>
                <p>021‑88563210</p>
              </div>
            </div>

            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-envelope"></i>
              </div>

              <div class="contact-content">
                <h5>ایمیل</h5>
                <p>info@bordino.ir</p>
              </div>
            </div>
          </div>

          <!-- ستون دوم -->
          <div class="col-lg-6 col-md-6">
            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-mobile"></i>
              </div>

              <div class="contact-content">
                <h5>موبایل</h5>
                <p>0912003526</p>
              </div>
            </div>

            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-barcode"></i>
              </div>

              <div class="contact-content">
                <h5>کد پستی</h5>
                <p>1997935759</p>
              </div>
            </div>

            <div class="contact-box">
              <div class="contact-icon">
                <i class="fa fa-clock"></i>
              </div>

              <div class="contact-content">
                <h5>ساعت کاری</h5>
                <p>شنبه تا چهارشنبه: 9:30 - 19:30</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
